/*--------------------------------------
    Global Helpers
----------------------------------------*/

/*section:not(:first-child){
    margin-top:80px;
}*/

.container > h2 {
    padding: 60px 0 40px 0;
}

/*--------------------------------------
    Intro
----------------------------------------*/

#intro {
    background: url(../images/intro.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    padding: 0;
}

    #intro:before {
        content: "";
        background-color: rgba(26, 30, 35, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.intro-text-container {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

    .intro-text-container h4 {
        font-weight: 600;
        text-transform: uppercase;
    }

    .intro-text-container h1 {
        font-weight: 600;
    }

.social-icons li {
    display: inline-block;
    padding: 4px;
}

.social-icons a i {
    font-size: 2rem;
}

/* Mouse icon in Intro area */
.mouse-icon {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid rgba(255, 255, 255, 0.87);
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin-left: -17px;
    display: block;
    z-index: 10;
}

    .mouse-icon .mouse-wheel {
        position: relative;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.87);
        width: 4px;
        height: 10px;
        top: 8px;
        margin-left: auto;
        margin-right: auto;
        -moz-animation-duration: 1s;
        -o-animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
    }

/*--------------------------------------
    Typed JS Cursor blink animation
----------------------------------------*/
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*--------------------------------------
    About Me
----------------------------------------*/

#about-me img.circle {
    margin-top: -150px;
}

.container > h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

#about-me .card-panel {
    margin-top: 160px;
}

    #about-me .card-panel ul > li {
        width: 50%;
        float: left;
    }

.card-panel h4 {
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
}

/*--------------------------------------
    Skills
----------------------------------------*/

.skills-panel {
    margin: 10px 40px;
}

    .skills-panel .progress {
        margin-bottom: 40px;
    }

    .skills-panel p {
        font-size: 1.1rem;
    }

#skills .chip {
    font-size: 1.1rem;
    margin: 10px;
}

/*--------------------------------------
    Work Experience (Timeline)
----------------------------------------*/

.timeline, .timeline li {
    position: relative;
}

    .timeline .timeline-icon {
        position: absolute;
        top: 28px;
        left: 50%;
        margin-left: -6px;
        font-size: 0.8rem;
        height: 14px;
        width: 14px;
        /*background-color:#1976D2;*/
        background-color: #424242;
    }

    .timeline ul:before {
        content: '';
        position: absolute;
        background-color: #424242;
        height: 100%;
        width: 2px;
        left: 50%;
    }

.row div.timeline-content {
    padding: 20px;
    background-color: #424242;
    position: relative;
}

.timeline-content p {
    padding-top: 10px;
    font-size: 0.9rem;
}

.timeline-content .divider {
    opacity: 0.4;
}

@media (min-width: 600px) {
    .timeline ul li:nth-child(odd) div.timeline-content {
        text-align: right;
    }

        .timeline ul li:nth-child(odd) div.timeline-content:before {
            content: "";
            position: absolute;
            top: 20px;
            left: 100%;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-left: 20px solid #424242;
        }

    .timeline ul li:nth-child(even) div.timeline-content {
        float: right;
    }

        .timeline ul li:nth-child(even) div.timeline-content:before {
            content: "";
            position: absolute;
            top: 20px;
            left: -20px;
            ;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-right: 20px solid #424242;
        }
}

/*--------------------------------------
    Footer
----------------------------------------*/

footer.page-footer {
    margin-top: 100px;
}

/*--------------------------------------
    Responsive overrides for Small Screens
----------------------------------------*/
@media (max-width : 766px) {
    #about-me .card-panel ul > li {
        width: 100%;
    }
}